$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-apple: "\e900";
$icon-ChartBarHorizontal: "\e901";
$icon-Cpu: "\e902";
$icon-CreditCard: "\e903";
$icon-Eye: "\e904";
$icon-facebook: "\e905";
$icon-filters: "\e906";
$icon-google-path1: "\e907";
$icon-google-path2: "\e908";
$icon-google-path3: "\e909";
$icon-google-path4: "\e90a";
$icon-google-play: "\e90b";
$icon-Handshake: "\e90c";
$icon-Instragarm: "\e90d";
$icon-Linkedin: "\e90e";
$icon-MagnifyingGlass: "\e90f";
$icon-Star: "\e910";
$icon-Twitter: "\e911";
$icon-youtube: "\e912";

