<section class="not-found">
  <div class="container-fluid">
    <div class="row align-items-center">

      <!-- Left: Error info card -->
      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="not-found__card">
          <p class="not-found__label">Error 404</p>
          <h1 class="not-found__title">Oops! page not found</h1>
          <p class="not-found__desc">
            Something went wrong. It's look that your requested could not be found.
            It's look like the link is broken or the page is removed.
          </p>
          <button class="not-found__btn" (click)="goBack()">Go Back</button>
        </div>
      </div>

      <!-- Right: 404 visual -->
      <div class="col-lg-7">
        <div class="not-found__visual">
         <img class="w-100" src="assets/images/notFound/not-found.svg" alt="">
        </div>
      </div>

    </div>
  </div>
</section>
